

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include ./partials/_header %>
</header>
<body>
    <h2>URLs Page</h2>

    <ul>
        <% for (shortURL in urlDatabase) { %>
            <li><a href='/u/<%= urlDatabase[shortURL].shortURL %>'><%= urlDatabase[shortURL].shortURL %></a> --> <%= urlDatabase[shortURL].longURL %>
                <form method ="POST" action="/urls/<%= urlDatabase[shortURL].shortURL %>/delete"><button type="submit">Delete</button>
                </form>
                <form method ="GET" action="/urls/<%= urlDatabase[shortURL].shortURL %>"><button type="submit">Update</button>
                </form>
            </li>
        <% }; %>
    </ul>
    <form method ="GET" action="/urls/new"><button type="submit">Add new URL</button>
    </form>
    <br>
    <a href='/urls'>Home</a>
</body>
</html>