<!-- views/partials/_header.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
        <% include ./partials/_header %>
    </header>
<body>
    <h2>The long URL and its shortened form</h2>

    <ul>
            <li><%= longURL %> - <%= shortURL %></li>
    </ul>

    <a href='/urls/new'>Home</a> 
    <form method ="POST" action="/urls/<%= shortURL %>/delete"><button type="submit">Delete</button></form>
    <form method="POST" action="/urls/<%= shortURL %>">
        <input type="text" name="newLongURL" value="<%= longURL %>" ><button type="submit">Update</button>
    </form>
    <!-- Add your EJS code here -->
</body>
</html>

